.usuarios-title {
    font-size: 28px;
    margin: 10px 0 30px;
    color: #333;
    text-align: center;
}

.content-usuarios {
    width: 315px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px;
    text-align: left;
}

.content-usuarios strong {
    font-size: 16px;
    color: #333;
    line-height: 2;
}

.content-usuarios .delete {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.content-usuarios .delete:hover {
    background-color: #575757;
}